# Ignore everything by default
*

# Keep this file
!.gitignore

# Keep README
!README.md

# Keep screenshots
!screenshots/
!screenshots/**

# Keep photo
!photo/
!photo/**

# Keep Pico+ binary
!emul/
!emul/dos2/
!emul/dos2/msxttpp.com
