{
  "mcpServers": {
    "mcp-openmsx": {
      "command": "npx.cmd",
      "args": ["-y", "@nataliapc/mcp-openmsx"],
      "env": {
        "OPENMSX_EXECUTABLE": "D:\\Projects\\MSXTTROM\\tools\\openmsxnet\\openmsx.exe",
        "OPENMSX_REAL_EXECUTABLE": "D:\\Projects\\MSXTTROM\\tools\\openmsxnet\\openmsx.exe",
        "OPENMSX_SHARE_DIR": "D:\\Projects\\MSXTTROM\\tools\\openmsxnet\\share",
        "OPENMSX_SCREENSHOT_DIR": "D:\\Projects\\MSXTTROM\\screenshots",
        "OPENMSX_REPLAYS_DIR": "D:\\Projects\\MSXTTROM\\replays"
      }
    }
  }
}
